@using ElectronicsStore.Models.Commons
@using ElectronicsStore.Models.Brands
@model Pagination<BrandViewModel>
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration;

@{
    ViewData["Title"] = "Danh sách nhãn hiệu";
}

@section Script{
    @if (ViewBag.Success != null)
    {
        <script>alert('@Html.Raw(ViewBag.Success)')</script>
        ViewBag.Success = null;
    }
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Danh sách nhãn hiệu</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách nhãn hiệu</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="CreateBrand" asp-controller="Product">Tạo nhãn hiệu</a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.Raw("Logo")
                                </th>
                                <th>
                                    @Html.Raw("Mã nhãn hiệu")
                                </th>
                                <th>
                                    @Html.Raw("Tên nhãn hiệu")
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td>
                                        <img width="120" src=@($"{_configuration["BaseAddress"]}/Image/{item.Logo}")>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Sửa", "UpdateBrand", new {  id=item.Id  }) |
                                        @Html.ActionLink("Xóa", "DeleteBrand", new {  id=item.Id  })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
            @await Component.InvokeAsync("Pager",Model)
        </div>
    </div>
</div>