@using ElectronicsStore.Models.Statuses
@model List<StatusViewModel>

@{
    ViewData["Title"] = "Danh sách trạng thái";
}

@section Script{
    @if (ViewBag.Success != null)
    {
        <script>alert('@Html.Raw(ViewBag.Success)')</script>
        ViewBag.Success = null;
    }
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Danh sách trạng thái</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách trạng thái</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="CreateStatus" asp-controller="Product">Tạo trạng thái</a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.Raw("Mã trạng thái")
                                </th>
                                <th>
                                    @Html.Raw("Tên trạng thái")
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Sửa", "UpdateStatus", new {  id=item.Id  }) |
                                        @Html.ActionLink("Xóa", "DeleteStatus", new {  id=item.Id  })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>