@using ElectronicsStore.AdminApp.Models.Account
@model UsersViewModel

@{
    ViewData["Title"] = "Danh sách người dùng";
}

@section Script{
    @if (ViewBag.Success != null)
    {
        <script>alert('@Html.Raw(ViewBag.Success)')</script>
        ViewBag.Success = null;
    }
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Danh sách người dùng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách người dùng</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="CreateAdmin" asp-controller="Account">Tạo tài khoản quản lý</a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <form asp-action="Index" asp-controller="Account" method="get">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <input type="text" value="@Model.UserName" name="userName" class="form-control" placeholder="Nhập username" />
                                        </div>
                                        <div class="col-md-3">
                                            <select name="roleId" asp-items="@Model.Roles" class="form-control">
                                                <option value=@null>Vai trò</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="submit" class="btn btn-primary">Tìm</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <hr />
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.Raw("Username")
                                    </th>
                                    <th>
                                        @Html.Raw("Vai trò")
                                    </th>
                                    <th>
                                        @Html.Raw("Ngày tạo tài khoản")
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Users.Items)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RoleName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DateCreate)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Xem", "GetUserDetail", new { item.Id })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("Pager",Model.Users)
        </div>
    </div>
</div>